{% extends 'core/index.html' %}

{% block title %}Log in | {% endblock %}

{% block content %}
<div>
    <h1>Log in</h1>
</div>

<form method="post" action=".">
    {% csrf_token %}
    <div class="container">
        <div>
            <div>
                <label>Username: </label>
                <input class="inputBox" type="text" name="username" class="input-box" />
            </div>
            <div>
                <label>Password: </label>
                <input class="inputBox" type="password" name="password" class="input-box" />
            </div>
            <button>Submit</button>
        </div>
    </div>
    <div>
    {% if form.errors %}
    Login data is not correct
    {% endif %}
    </div>
</form>
{% endblock %}